{% extends "hcc/base.html" %}
{% load crispy_forms_tags %}

{% block title %}<a href="{% url 'hcc_gui' %}">Harvester Control Center - Login</a>{% endblock %}

{% block content %}

    <div class="content container">
        <div class="row justify-content-center">
            {% if form.errors %}
                <div class="alert alert-dismissible alert-warning">
                    Your username and password didn't match. Please try again.
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            {% crispy form %}

        </div>
    </div>

{% endblock %}
