{% extends 'hcc/base.html' %}

{% block title %}<a href="/">Harvester Control Center</a>{% endblock %}

{% block content %}
<div class="content container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-sm">
            <div class="card">
              <h3 class="card-header">Register new Harvester</h3>

              <div class="card-body">
                <a href="" id="register-button"><i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i></a>
                <a data-toggle="modal" href="{% url 'api:hreg-form' %}" data-target="#form-modal">Register</a>
              </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
              <h3 class="card-header">Deploy new Harvester</h3>

              <div class="card-body">
                <a href="#"><i class="fa fa-cloud-download fa-5x" aria-hidden="true"></i></a>
              </div>
            </div>
        </div>
      </div><br>
      {% if harvesters|length > 0 %}
      <div class="row">
          {% for harvester in harvesters %}
              <div class="col-sm">
                  <div class="card">

                    <h3 class="card-header">
                      {% if harvester.enabled %}
                        <button type="button" class="btn btn-success btn-sm">on</button>
                      {% else %}
                        <button type="button" class="btn btn-secondary btn-sm">off</button>
                      {% endif %}

                      <span class="badge badge-secondary">
                        {{ harvester.name }}
                      </span>
                      <a href="{% url 'api:harvester-detail' name=harvester.name %}">Harvester</a>
                    </h3>

                    <div class="card-body">
                      <p>Metadata: {{ harvester.metadataPrefix }}</p>
                      <p>API: <a href="{{ harvester.url }}">{{ harvester.url }}</a></p>
                    </div>
                  </div>
              </div>
              <br>
          {% endfor %}
      </div>
      {% else %}
          <div class="alert alert-info" role="info">Register a new Harvester via API.</div>
      {% endif %}

    {% else %}
      <div class="alert alert-danger" role="alert">Login to see more...</div>
    {% endif %}

    <div id="form-modal" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
             <h4 class="modal-title">Modal title</h4>
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div id="form-modal-body" class="modal-body">
             <p>One fine body&hellip;</p>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!--<script src="{% static 'js/hcc.js' %}"></script>-->
{% endblock %}
