{% extends 'hcc/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<a href="{% url 'hcc_gui' %}">Harvester Control Center</a>{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="row">
        
        <div class="col-sm">
            <div class="card">
                <h3 class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapseToolbox">
                        Toolbox
                        <div id="loaderSpinnerLog" class="spinner-border float-right align-middle" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </a>
                </h3>
                {% if collapse_status.toolbox == 'visible' %}
                <div class="card-body collapse show row" id="collapseToolbox">
                {% else %}
                <div class="card-body collapse row" id="collapseToolbox">
                {% endif %}
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6" style="text-align: center;">
                        <a id="btn-edit-{{ harvester.name }" class="harvesteredit"
                        data-form="{% url 'add-harvester' %}" href="#">
                            <i class="fa fa-plus-circle fa-5x align-middle" aria-hidden="true"></i>
                        </a><br>
                        Add Harvester
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6" style="text-align: center;">
                        <a id="btn-save-harvester-data" href="{% url 'harvester-to-file' %}" download="harvesterdata.json">
                            <i class="fa fa-download fa-5x align-middle" aria-hidden="true"></i>
                        </a><br>
                        Save Harvesters
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6" style="text-align: center;">
                        <a id="btn-load-harvester-data" href="{% url 'harvester-file-form' %}">
                            <i class="fa fa-upload fa-5x align-middle" aria-hidden="true"></i>
                        </a><br>
                        Load Harvesters
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6" style="text-align: center;">
                        <a id="btn-harvester-log" href="#" title="{% url 'harvesters-log' %}">
                            <i class="fa fa-cloud-download fa-5x align-middle" aria-hidden="true"></i>
                        </a><br>
                        Harvester Logs
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6" style="text-align: center;">
                        <a id="btn-hcc-log" href="#" title="{% url 'hcc-log' %}">
                            <i class="fa fa-file-text fa-5x align-middle" aria-hidden="true"></i>
                        </a><br>
                        HCC Logs
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h3 class="card-header">
                    <a id="btn-get-stats" href="#" title="" data-toggle="collapse" data-target="#collapseChart">
                        Chart
                        <div id="loaderSpinnerStat" class="spinner-border float-right align-middle" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </a>
                </h3>
                {% if collapse_status.chart == 'visible' %}
                <div class="card-body collapse show" id="collapseChart" title="{% url 'api:all-harvester-status' %}">
                {% else %}
                <div class="card-body collapse" id="collapseChart" title="{% url 'api:all-harvester-status' %}">
                {% endif %}    
                    <div class="chart-container" style="position: relative;">
                        <canvas id="harvesterChart" width="300" height="120" style="display: block; width: 300px; height: 120px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    {% if harvesters|length > 0 %}

    <div class="accordion" id="harvesterAccordion">
        <div class="card">
            <div class="card-header" id="headingEnabled">
                <h5 class="mb-0">
                    <button class="btn btn-outline-info small-device-modified" id="btn-collapseHarvestersEnabled" type="button" data-toggle="collapse" data-target="#collapseHarvestersEnabled"
                        aria-expanded="true" aria-controls="collapseHarvestersEnabled">
                        Enabled Harvesters
                        <span class="badge badge-light">{{ status.num_enabled_harvesters }}</span>
                    </button>
                    <div id="start-abort-btn-group" class="btn-group small-device-modified" role="group" aria-label="ControlPanel">
                        <a href="{% url 'start-harvesters' %}" role="button" class="btn btn-primary">start all</a>
                        <a href="{% url 'abort-harvesters' %}" role="button" class="btn btn-dark">abort all</a>
                    </div>
                    <div id="view-btn-group" class="btn-group float-md-right small-device-modified" role="group">
                        <button id="btn-list-view"  class="btn toggle-view-button">
                            <i class="fa fa-lg fa-list" title="list view" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top"></i>
                        </button>
                        <button id="btn-card-view" class="btn toggle-view-button">
                            <i class="fa fa-lg fa-id-card" title="card view" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top"></i>
                        </button>
                        <button id="btn-table-view" class="btn toggle-view-button">
                            <i class="fa fa-lg fa-table" title="table view" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top"></i>
                        </button>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" id="harvesterInput" onkeyup="filterFunction()" class="form-control" placeholder="search for harvester" aria-label="Harvester Name">
                    </div>
                </h5>
            </div>
            {% if collapse_status.enabled_harvs == 'collapsed' %}
            <div id="collapseHarvestersEnabled" class="collapse" aria-labelledby="headingEnabled" data-parent="#harvesterAccordion">
            {% else %}
            <div id="collapseHarvestersEnabled" class="collapse show" aria-labelledby="headingEnabled" data-parent="#harvesterAccordion">
            {% endif %}    
                <div id="harvesterList" class="card-body">
                    <div class="container">
                        <div id="div-list-view" class="row"><!--list-view-->
                        {% for harvester in harvesters %}
                            {% if harvester.enabled %}
                            <div id="{{harvester.name}}-div-list" class="col-lg-2 col-md-6 col-sm-12 harvester-list-div">
                                <ul class="list-group">
                                {% for k, val in status.items %}
                                {% if k == harvester.name %}
                                <li class="list-group-item list-group-item-{{ val.gui_status }}" data-toggle="tooltip" data-placement="right" title="{{ val.health }}">
                                    <a id='btn-url-{{ harvester.name }}' title="{% url 'api:harvester-api-info' name=harvester.name %}" href="#">{{ harvester.name }}</a>
                                    <div class="harvester-status-{{ harvester.name }}">{{ val.status }}</div>
                                </li>
                                {% endif %}
                                {% endfor %}
                                </ul><br>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div> <!-- end: list-view-->
                        <div id="div-card-view" class="row"><!-- card-view -->
                            {% for harvester in harvesters %}
                            {% if harvester.enabled %}
                                <div id="{{harvester.name}}-div-card" class="col-lg-4 col-md-6 col-sm-12 harvester-card-div"><br>
                                    <div class="card">
                                        {% for k, val in status.items %}
                                        {% if k == harvester.name %}
                                        <div class="progress" style="height: 10px; margin: 0px;"><!-- progress-bar -->
                                            <div id="progresshv-{{ harvester.name }}" class="progress-bar progress-bar-striped progress-bar-grey"
                                                title="{% url 'harvester-progress' name=harvester.name %}" style="width:{{val.progress_cur}}%;{% if val.gui_status == 'warning' %}display: none;{% endif %}"
                                                role="progressbar" aria-valuenow="{{ val.progress_cur }}" aria-valuemin="0"
                                                aria-valuemax="{{ val.max_docs }}">
                                                {{ val.progress_cur }}{% if val.max_docs != 'N/A' %}%{% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <h4 class="card-header">
                            
                                            <div class="clearfix">
                            
                                                <a href="#" class="btn btn-primary btn-sm" data-toggle="collapse"
                                                    data-target="#collapseHarvester-{{ forloop.counter }}" role="button"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                </a>
                                                <div class="btn-group" role="group" aria-label="control harvester">

                                                    <a href="{% url 'toggle-harvester' name=harvester.name %}" class="btn btn-success btn-sm" role="button">
                                                        <i class="fa fa-toggle-on" aria-hidden="true"></i>
                                                    </a>
                            
                                                    <button id="btn-harvester-status-{{ harvester.name }}" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        {% for k, val in status.items %}
                                                        {% if k == harvester.name %}
                                                        class="btn btn-sm btn-{{ val.gui_status }}"
                                                        {% if val.data_pvd %}
                                                        title="{{ val.data_pvd }}
                                                        {% if val.cached_docs %} harvested and cached Documents: {{ val.cached_docs }}
                                                        {% if val.max_docs %} of {{ val.max_docs }}{% endif %}.{% endif %}
                                                        {% if val.lastHarvestDate %}Last harvest: {{ val.lastHarvestDate }}{% endif %}"
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}>{{ harvester.name|lower|capfirst }}</button>
                                                </div>
                                                {% for k, val in status.items %}
                                                {% if k == harvester.name %}
                                                {% if val.status == 'harvesting' or val.status == 'submitting' or val.status == 'queued' %}
                                                <a id="" title="{% url 'api:stop-harvest' name=harvester.name %}" href="{% url 'stop-harvester' name=harvester.name %}"
                                                    role="button" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                                </a>
                                                {% endif %}
                                                {% if val.status == 'idle' or val.status == 'idling' %}
                                                <a id="" title="{% url 'api:start-harvest' name=harvester.name %}" href="{% url 'start-harvester' name=harvester.name %}"
                                                    role="button" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                                </a>
                                                {% endif %}
                                                {% if val.nextHarvestDate or val.cron and val.cron != 'no crontab defined yet' and val.cron != 'cron not supported. basic mode.'%}
                                                <i title="next harvest: {{ val.nextHarvestDate }} with crontab {{ val.cron }}"
                                                    data-toggle="tooltip" data-placement="top" class="fa fa-calendar-check-o"
                                                    aria-hidden="true"></i>
                                                {% endif %}

                                                <small id="lbl-harvester-status-{{ harvester.name }}" class="harvester-status-{{ harvester.name }}">{{ val.status }}</small>

                                                <i id="health-exclamation-{{ harvester.name }}" class="fa fa-exclamation-triangle float-right"
                                                    style="color: #ffc107;{% if val.health == 'OK' %}display: none{% endif %};"
                                                    data-toggle="tooltip" data-placement="top" title="{{ val.health }}"
                                                    aria-hidden="true"></i>

                                                <br><small id="status-label-{{ harvester.name }}" style="font-size: 10px"></small>

                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </h4>
                                        <div class="collapse" id="collapseHarvester-{{ forloop.counter }}">
                                            <div class="card-body">
                                                <li id="{{ harvester.name }}-notes" class="list-group-item">
                                                        Notes: {{ harvester.notes }}
                                                </li>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Control Center API:
                                                    <a id="{{ harvester.name }}-name" class="card-title" href="{% url 'api:harvester-detail' name=harvester.name %}">{{ harvester.name }}</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <p>
                                                        <a id="btn-url-{{ harvester.name }}" title="{% url 'api:harvester-api-info' name=harvester.name %}" 
                                                        class="btn btn-primary btn-sm" hef="#" role="button">
                                                        Info
                                                        </a>
                                                        <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseStatus{{ forloop.counter }}"
                                                        role="button" aria-expanded="false" aria-controls="collapseStatus">
                                                        Status
                                                        </a>
                                                        <a id="btn-edit-{{ harvester.name }}" class="btn btn-primary btn-sm harvesteredit"
                                                        data-form="{% url 'edit-harvester' name=harvester.name %}" href="#" role="button">
                                                        Edit
                                                        </a>
                                                        <a id="btn-config-{{ harvester.name }}" class="btn btn-primary btn-sm harvesterconfig"
                                                        data-form="{% url 'config-harvester' name=harvester.name %}" href="#" role="button">
                                                        Config
                                                        </a>
                                                        <a id="" title="{% url 'reset-harvester' name=harvester.name %}" href="{% url 'reset-harvester' name=harvester.name %}"
                                                        role="button" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Reset
                                                        </a>
                                                    </p>
                                                    <div class="collapse" id="collapseStatus{{ forloop.counter }}">
                                                        <div class="card card-body">
                                                            <p class="card-text"><small id="hv-status-{{ harvester.name }}">
                                                                    {% for k, val in status.items %}
                                                                    {% if k == harvester.name %}
                                                                    {{ val }}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </small></p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    {% for k, val in status.items %}
                                                    {% if k == harvester.name %}
                                                    {% if val.cron %}
                                                    <form class="crontab-edit-form" action="{% url 'api:harvester-cron' name=harvester.name %}" method="post">
                                                        {% csrf_token %}
                                                        {% for k, form in forms.items %}
                                                        {% if k == harvester.name %}
                                                        {% crispy form %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </form>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}
                                                </li>
                                                <li class="list-group-item">
                                                    <button class="status-history-button btn btn-outline-primary btn-sm" data-html="true"
                                                        title="" data-toggle="tooltip" data-placement="right" data-form="{% url 'etls' name=harvester.name %}">
                                                        Status History
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div><!-- end: card-view -->
                        <div id="div-table-view" class="row"><!-- table-view -->
                            <div class="table-responsive">
                                <div>
                                    <a id="table-checkbox-disable-harvesters" class="btn btn-success btn-sm disabled small-device-modified" href="#" role="button">
                                        Disable Harvesters
                                    </a>
                                    <a id="table-checkbox-start-harvesters" class="btn btn-success btn-sm disabled small-device-modified" href="#" role="button">
                                        Start Harvesters
                                    </a>
                                </div>
                                <br>
                                <table class="table">
                                    <thead id="table-view-thead">
                                        <tr>
                                            <th><input id="table-checkbox-master" type="checkbox" onclick="checkboxMasterFunction()"></th>
                                            <th>Harvester Name</th>
                                            <th>Actions</th>
                                            <th>
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-outline-primary float-right" type="button" id="table-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-caret-down" aria-hidden="true"></i> filter 
                                                    </button>
                                                    <div class="dropdown-menu" role="menu" aria-labelledby="table-dropdown-btn">
                                                        <div class="radio status-radio">
                                                            <label class="dropdown-item"><input id="checkbox-show-all" name="optradio" type="radio" checked> show all </label>
                                                        </div>
                                                        <div class="radio status-radio">
                                                            <label class="dropdown-item"><input id="checkbox-show-idle" name="optradio" type="radio"> show idle </label>
                                                        </div>
                                                        <div class="radio status-radio">
                                                            <label class="dropdown-item"><input id="checkbox-hide-idle" name="optradio" type="radio"> hide idle </label>
                                                        </div>
                                                    </div>
                                                    Status
                                                </div> 
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for harvester in harvesters %}
                                        {% if harvester.enabled %}
                                        <tr id="{{harvester.name}}-tr-table">
                                            {% for k, val in status.items %}
                                            {% if k == harvester.name %}
                                            <td>
                                                <div>
                                                    <input id="{{harvester.name}}-table-checkbox" type="checkbox" onclick="checkboxFunction()" class="table-view-checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a id ="table-hcc-button-{{harvester.name}}" href="{% url 'api:harvester-detail' name=harvester.name %}" role="button" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-file-text-o" aria-hidden="true" title="Details" data-toggle="tooltip"></i>
                                                </a>
                                                <button id ="table-info-button-{{harvester.name}}" type="button" class="btn btn-sm btn-outline-primary" data-container="body" data-toggle="tooltip" title="{{ val }}" data-placement="left">
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </button>
                                                {{ harvester.name }}
                                            </td>
                                            <td>
                                                <button class="table-dropdown-btn btn btn-outline-primary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </button>
                                                <div class="table-dropdown-menu dropdown-menu" role="menu" aria-labelledby="table-dropdown-btn">
                                                    <a id="btn-edit-{{ harvester.name }}" class="dropdown-item harvesteredit"
                                                        data-form="{% url 'edit-harvester' name=harvester.name %}" href="#">
                                                        <i class="fa fa-edit" aria-hidden="true"></i> Edit
                                                    </a>
                                                    <a id="btn-config-{{ harvester.name }}" class="dropdown-item harvesterconfig"
                                                        data-form="{% url 'config-harvester' name=harvester.name %}" href="#">
                                                        <i class="fa fa-cogs" aria-hidden="true"></i> Config
                                                    </a>
                                                    <a id="" title="{% url 'reset-harvester' name=harvester.name %}" href="{% url 'reset-harvester' name=harvester.name %}"
                                                        class="dropdown-item">
                                                        <i class="fa fa-refresh" aria-hidden="true"></i> Reset
                                                    </a>
                                                    {% if val.status == 'harvesting' or val.status == 'queued' or val.status == 'submitting' %}
                                                    <a id="" title="{% url 'api:stop-harvest' name=harvester.name %}" href="{% url 'stop-harvester' name=harvester.name %}"
                                                        class="dropdown-item">
                                                        <i class="fa fa-ban" aria-hidden="true"></i> Stop Harvester
                                                    </a>
                                                    {% endif %}
                                                    {% if val.status == 'idle' or val.status == 'idling' %}
                                                    <a id="" title="{% url 'api:start-harvest' name=harvester.name %}" href="{% url 'start-harvester' name=harvester.name %}"
                                                        class="dropdown-item">
                                                        <i class="fa fa-play-circle" aria-hidden="true"></i> Start Harvester
                                                    </a>
                                                    {% endif %}
                                                </div>
                                                <div class="table-btn-group btn-group" role="group">
                                                    <a id="btn-edit-{{ harvester.name }}" class="btn btn-primary btn-sm harvesteredit"
                                                        data-form="{% url 'edit-harvester' name=harvester.name %}" href="#" role="button">
                                                        <i class="fa fa-edit" title="Edit" aria-hidden="true"
                                                        data-toggle="tooltip"></i>
                                                    </a>
                                                    <a id="btn-config-{{ harvester.name }}" class="btn btn-primary btn-sm harvesterconfig"
                                                        data-form="{% url 'config-harvester' name=harvester.name %}" href="#" role="button">
                                                        <i class="fa fa-cogs" title="Config" aria-hidden="true"
                                                        data-toggle="tooltip"></i>
                                                    </a>
                                                    <a id="" title="{% url 'reset-harvester' name=harvester.name %}" href="{% url 'reset-harvester' name=harvester.name %}"
                                                        role="button" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-refresh" title="Reset" aria-hidden="true"
                                                        data-toggle="tooltip"></i>
                                                    </a>
                                                    {% if val.status == 'harvesting' or val.status == 'queued' or val.status == 'submitting' %}
                                                    <a id="" title="{% url 'api:stop-harvest' name=harvester.name %}" href="{% url 'stop-harvester' name=harvester.name %}"
                                                        role="button" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-ban" aria-hidden="true" title="Stop Harvester" data-toggle="tooltip"></i>
                                                    </a>
                                                    {% endif %}
                                                    {% if val.status == 'idle' or val.status == 'idling' %}
                                                    <a id="" title="{% url 'api:start-harvest' name=harvester.name %}" href="{% url 'start-harvester' name=harvester.name %}"
                                                        role="button" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-play-circle" aria-hidden="true" title="Start Harvester" data-toggle="tooltip"></i>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="tv-status-{{harvester.name}}">
                                                <span class="harvester-status-{{ harvester.name }}">{{val.status}}</span>
                                                <button class="status-history-button btn btn-outline-primary btn-sm" data-html="true"
                                                title="" data-toggle="tooltip" data-placement="top" data-form="{% url 'etls' name=harvester.name %}">
                                                    <i class="fa fa-info" aria-hidden=true></i>
                                                </button>
                                                <i id="health-exclamation-{{ harvester.name }}" class="fa fa-exclamation-triangle float-right"
                                                style="color: #ffc107;{% if val.health == 'OK' %}display: none{% endif %};"
                                                data-toggle="tooltip" data-placement="top" title="{{ val.health }}"
                                                aria-hidden="true"></i>
                                            </td>
                                            {% endif %}
                                            {% endfor %} 
                                        </tr>  
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- end: table-view -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingDisabled">
                <h5 class="mb-0">
                    <button class="btn btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseHarvestersDisabled"
                        aria-expanded="false" aria-controls="collapseHarvestersDisabled">
                        Disabled Harvesters
                        <span class="badge badge-light">{{ status.num_disabled_harvesters }}</span>
                    </button>
                </h5>
            </div>
            {% if collapse_status.disabled_harvs == 'visible' %}
            <div id="collapseHarvestersDisabled" class="collapse show" aria-labelledby="headingDisabled" data-parent="#harvesterAccordion">
            {% else %}
            <div id="collapseHarvestersDisabled" class="collapse" aria-labelledby="headingDisabled" data-parent="#harvesterAccordion">
            {% endif %}    
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            {% for harvester in harvesters %}
                            {% if harvester.enabled is not True %}
                            <div class="col-lg-4 col-md-6 col-sm-12"><br>
                                <div class="card">
                                    <h3 class="card-header">
                                        <a href="{% url 'toggle-harvester' name=harvester.name %}" role="button" class="btn btn-secondary btn-sm"><i
                                                class="fa fa-toggle-off" aria-hidden="true"></i></a>
                                        <span class="badge badge-secondary">{{ harvester.name|lower|capfirst }}</span>
                                    </h3>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'api:harvester-detail' name=harvester.name %}">HCC
                                                API for {{ harvester.name }}</a></h5>

                                        <p class="card-text">Metadata: {{ harvester.metadataPrefix }}</p>
                                        <p class="card-text">Notes: {{ harvester.notes }}</p>
                                        <p class="card-text">API: <a id='btn-url-{{ harvester.name }}' title="{% url 'api:harvester-api-info' name=harvester.name %}" href="{{ harvester.url }}">
                                            {{ harvester.url|slice:":30"|add:"..." }}</a>
                                        </p>
                                        <p class="card-text">Status:
                                            {% for k, val in status.items %}
                                            {% if k == harvester.name %}
                                            {{ val }}
                                            {% endif %}
                                            {% endfor %}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="alert alert-info" role="alert">Register a new Harvester via API or the Control Center.</div>

    {% endif %}

    {% else %}

    <div class="alert alert-info" role="alert">You are not logged in ...
        <a href="{% url 'login' %}" class="">
            <i class="fa fa-sign-in" aria-hidden="true"></i> log in.
        </a>
    </div>

    {% endif %}
</div>

<!-- Form Modal -->
<div id="form-modal" class="modal fade" tabindex="-1" role="dialog"></div>
<!-- Message Modal -->
<div id="message-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="message-modal-header" class="modal-title">Info</h4>
                <button id ="message-modal-exit" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="message-modal-body" class="modal-body"></div>
            <div id="message-modal-footer" class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Submission Modal -->
<div id="submission-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="submission-modal-header" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="submission-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button id="submission-modal-submit-button" type="button" class="btn btn-primary">Save</a>
                <button id="submission-modal-cancel-button" type="button" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
