body {
    background-color: #ba9eb9;
    height: 100%;
}

.page-header {
    background-color: #5d3a9e;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 20px 20px 40px;
    box-shadow: 0px 5px 10px #7a5193;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

a {
  color: #b730c9;
}

a:hover {
  color: #bc6bc6;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #b730c9 !important;
    border-color: #b730c9;
}

.btn-primary:hover {
    background-color: #bc6bc6 !important;
    border-color: #bc6bc6;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

h1 a {
    color: #b730c9;
    font-family: 'Open Sans', sans-serif;
}

.login {
    float: right;
    color: #FFFFFF;
}

.save {
    float: right;
}

.harvester-form textarea, .harvester-form input {
    width: 100%;
}

.harvester {
    margin-bottom: 35px;
}

.harvester h1 a, .harvester h1 a:visited {
    color: #000000;
}

footer {
    background-color: #5d3a9e;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    box-shadow: 0 0 0 #7a5193, 0px -5px 10px #7a5193;
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
}
